body {
	font-family: Arial, sans-serif;
}

button {
	background-color: #4CAF50;
	border: none;
	color: white;
	padding: 10px 20px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: 4px 2px;
	cursor: pointer;
}

button:hover {
	background-color: #45a049;
}

input {
	margin: 10px 0;
}

#image-container {
    position: relative;
    left: -100%; /* initial position off-screen */
    transition: left 0.5s ease-in-out; /* animation duration and easing */
  }
  
  #image-container.show {
    left: 0; /* final position on-screen */
  }